@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Geist+Pixel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&family=Yuyu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Geist+Pixel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&family=Yuyu&display=swap');

.link-div{
    padding: 30px 20px;
    margin-left: 40px;
    
}

.link-home{
   text-decoration: none;
   color: #5e5c5c;
   border-radius: 50px;
   border: 1px solid rgb(206, 200, 200);
   padding: 10px 15px;
   font-family: "Space Grotesk", sans-serif;
   display: flex;
   width: 150px;
   gap: 7px;
}

.link-home span:first-child {
    position: relative;
    top: -1px;
}


.link-home:hover{
    background-color: #dad6d6;
    color: black;
}

.project-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -20px;
}

.header-projects{
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
}

.head-h2{
    font-size: 90px;
    opacity: 0.9;
}

.head-p{
    font-size: 18px;
    color: grey;
    opacity: 0.9;
    font-style: italic;
    width: clamp(300px, 80%, 500px);
    text-align: center;
    display: flex;
    align-self: center;
    justify-self: center;
}

.main-projects{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.projects-link-card{
    position: relative;
    display: block;
    cursor: pointer;
}

.projects-link-card img{
    width: 70%;
    display: flex;
    align-items: center;
    justify-self: center;
    transition: transform 0.4s ease;
    box-shadow: 1px 6px 6px 2px rgba(0,0,0,0.5);
    border-radius: 10px;
}



.projects-link-card:hover img {
    transform: scale(1.03);
}

.back-div{
    display: flex;
    justify-content: flex-end;
    
}

.project-top{
    margin-right: 30px;
    color: grey;
    font-size: 17px;
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.project-top:hover{
    color: #0d0d0d;
    transform: translateY(-5px);
}

.project-top:hover span{
    transform: translateY(-4px);
}

@media (max-width: 560px) {
    .link-div{
        margin-left: 10px;
    }

    .header-projects{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .project-div{
        margin-top: 10px;
    }

    .head-h2{
        font-size: 40px;
    }

    .head-p{
        font-size: 18px;
        font-weight: 300;
    }
}